.all-task-table-wrapper{
    margin-right:20px;
    margin-left:20px;
}
.wrap_task_text{
    max-width: 150px;           /* Set a fixed width */
    word-wrap: break-word;
}
thead tr th{
    font-size: 16px;
}
tbody tr td{
    font-size: 14px;
}