.content-wrapper .main{
    margin-left: 300px;
    transition: 0.5s;
    padding: 20px;
    padding-top: 20;
    min-height: 100vh;
    background-color: #f1f2f6;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
}